/* VARIABLES */
:root {
    --heading: 'Cardone-Light-Italic';
    --heading-italic: 'Cardone-Light';
    --body-text: 'Atlas-Medium';
}


/* SITWIDE */
body {
    background-color: teal;
    width: 90vw;
    margin: 0 auto;
}


/* TYPOGRAPHY */

@font-face {
    font-family: "Cardone-Light-Italic";
    src: url(../canopy/assets/CardoneTrial-LightItalic.otf) format('opentype');
}

@font-face {
    font-family: "Cardone-Light";
    src: url(../canopy/assets/CardoneTrial-Light.otf) format('opentype') ;
}

@font-face {
    font-family: "Atlas-Medium";
    src: url(../canopy/assets/AtlasGrotesk-Medium-Trial.otf) format('opentype');
}


/* GENERAL STYLES */





/* UTILITIES */

ul { 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--body-text);
}

/* li {
    font-family: "Atlas-Medium";
    font-weight: 400;
    font-style: normal;
}

.title-bar {
    font-family: "Atlas-Medium";
    font-weight: 400;
    font-style: normal;
} */

p {
    font-family: var(--body-text);
}




/* ANIMATIONS */
