/* VARIABLES */
:root {
    --black: #000000; 
    --white: #ffffff;
    --light-white: #F1F0ED; 
    --middle-grey: #888888;
    --light-grey: #D0D0D0;
    
    --native-one: #01AF5A;
    --native-two: #C9E518;
    --native-three: #EBEE6D;
    --native-four: #6AFBA4;
    --native-five: #5DD8B3;
    --native-six: #00CF08; 

    --non-one: #315B51;
    --non-two: #4C7345;
    --non-three: #758C6A;
    --non-four: #758C6A; 

    --header-text-size: 24px;
    --filter-text-size: 18px;
    --body-text-size: 16px;
}


/* SITWIDE */
body {
    width: 90vw;
    margin: 0 auto;
    background-color: var(--light-white);
}


/* TYPOGRAPHY */

.header { 
font-family: shift, serif;
font-weight: 100;
font-size: var(--header-text-size);
color: var(--middle-grey);
}

.header:hover { 
    font-family: shift, serif;
    font-weight: 100;
    font-size: var(--header-text-size);
    color: black;
    cursor: pointer;
}

.header-italic { 
font-family: shift, serif;
font-weight: 100;
font-style: italic;
font-size: var(--header-text-size);
}

.filter-text { 
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 500;
font-style: normal;
letter-spacing: .02em;
font-size: var(--filter-text-size);
}

.body-text { 
font-family: neue-haas-grotesk-text, sans-serif;
font-weight: 500;
font-style: normal;
letter-spacing: .02em;
font-size: var(--filter-text-size);
}




/* GENERAL STYLES */

.site-nav { 
    margin: 1em 0em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-bar { 
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 

}

.flex-btn { 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.all-filters { 
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

}


/* FILTER BUTTONS AND HOVER */

.info-btn { 
    padding: .35em .75em;
    background-color: var(--light-white);
    border: var(--light-white) solid .075em;
    border-radius: .5em;
    width: max-content;
}

.filter-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    background-color: var(--light-white);
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;

    transition-duration: .15s, .15s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform;
}

.filter-active-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    background-color: var(--light-grey);
    border-radius: .5em;
    width: max-content;
    
}

.native-filter-btn {
    margin: 0 .35em;
    padding: .35em .75em;
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;

    transition-duration: .15s, .15s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform;
}

.non-filter-btn { 
    margin: 0 .35em;
    padding: .35em .75em;
    border: black solid .075em;
    border-radius: .5em;
    width: max-content;

    transition-duration: .15s, .15s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform;
}

.filter-btn:hover { 
    border: var(--light-white) solid .075em;
    background-color: var(--light-grey);
    cursor: pointer;
}

.native-filter-btn:hover { 
    border: var(--light-white) solid .075em;
    background-color: var(--non-three);
    cursor: pointer;
}

.non-filter-btn:hover { 
    border: var(--light-white) solid .075em;
    background-color: var(--native-one);
    cursor: pointer;
}


/* UTILITIES */








/* ANIMATIONS */


/* MEDIA QUERIES / BREAKPOINTS */

@media (max-width: 768px) {

    :root {
        --header-text-size: 20px;
        --filter-text-size: 18px;
        --body-text-size: 18px;
    }

    body { 
        width: 85vw;
        margin: 0 auto;
    }

    /* GENERAL STYLES */

    .site-nav { 
        margin: .75em 0em;
    }

    .filter-bar { 
        position: fixed;
        bottom: 1em;
        /* left: 20vw; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
    
    }

    .flex-btn { 
        margin-bottom: .5em;
    }

}

@media (max-width: 400px) {

    :root {
        --header-text-size: 20px;
        --filter-text-size: 18px;
        --body-text-size: 18px;
    }

    body { 
        width: 85vw;
        margin: 0 auto;
    }

    /* GENERAL STYLES */

    .site-nav { 
        margin: .75em 0em;
    }

    .filter-bar { 
        position: fixed;
        bottom: 1em;
        /* left: 5vw; */
        display: flex;
        flex-direction: column;
        justify-content: center; 
    
    }

}